* {
    margin: 0;
    padding: 0;
    height: 100%;
}

#loom-companion-mv3, #shadow-host-companion {
    display: none !important;
}


@font-face {
    font-family: 'Bridget';
    src: url('./assets/fonts/Bridget.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* Too Big */

.too-big{
    width: 100%;
    height: 100vh;
    background-image: url('/fond-element-haut.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.too-big h1{
    height: fit-content;
    font-family: 'Bridget';
    text-align: center;
}


/* Entry */

.entry{
    height: 100%;
    width: 100%;
    background-image: url('/fond-m7.png');
    background-size: 50% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bsd{
    height: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #A34444;
}

.arche-entry{
    width: 80%;
    height: 80%;
    background-color: #FFDFDA;
    padding: 20px 0 0 0;
    border: #A34444 solid 6px;
    border-top-left-radius: 50% 170px;
    border-top-right-radius: 50% 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.logo-entry{
    width: 90px;
    height: 50px;
}

.entry-name-1, .entry-name-2, .entry-and{
    text-align: center;
    font-family: 'Bridget', serif;
    font-size: 70px;
    color: #A34444;
    height: fit-content;
    margin-top: 10px;
}

.entry-and{
    font-size: 40px;
    transform: translateY(-20px);
}

.entry-name-2{
    transform: translateY(-40px) ;
}

.entry-date{
    font-family: "Lora", serif;
    font-weight: bold;
    color: #A34444;
    font-size: small;
    height: fit-content;
}

.countdown{
    width: 95%;
    height: fit-content;
    color: #A34444;
    font-family: "Bridget";
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.time{
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.invit-link{
    height: fit-content;
    font-family: 'Lora';
    text-decoration: none;
    color: #A34444;
    font-size: larger;
    transform: translateY(30px);
}

.fleurs-entry-bas{
    width: 100%;
    height: 130px;
}

/* Home */

.home{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}


.musique button{
    height: 40px;
    width: 40px;
    border: solid #000 2px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 100;
    background-color: transparent;
}

/* Mairie */

.arche{
    height: fit-content;
    width: 100%;
    background-image: url('/fond-m7.png');
    background-size: 50% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.arche-card{
    width: 80%;
    height: fit-content;
    background-color: #ffdfdae6;
    padding: 30px 0 0 0;
    border: #A34444 solid 6px;
    border-top-left-radius: 50% 170px;
    border-top-right-radius: 50% 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.arche-logo{
    height: 80px;
    width: 60px;
}


.mairie-title{
    height: fit-content;
    color: #A34444;
    font-family: "Luxurious Script", cursive;
    font-size: 40px;
    font-weight: 100;
    margin: 20px 0;
}


.mairie-noms{
    color: #A34444;
    font-family: "Lora";
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin: 20px 0;
}


.mairie-text,.mairie-oui,.mairie-date,
.mairie-endroit,.mairie-suite{
    width: 80%;
    height: fit-content;
    color: #A34444;
    font-family: 'Lora';
    font-weight: 100;
    text-align: center;
    margin: 10px auto;
    line-height: 25px;
}

.waze,.save-the-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.waze{
    margin: 20px 0 0 0;
}

.waze-link,.save-the-date-link{
    color: #A34444;
    font-family: 'Luxurious Script';
    font-size: x-large;
    font-weight: 100;
    text-align: center
}

/* Houppa */

.img-houppa{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arche-image-houppa{
    height: 120px;
    width: 80%;
}

.logo-houppa{
    height: 60px;
    width: 60px;
    transform: translateY(-60px);
}

.kol-sasson{
    height: fit-content;
    width: 90%;
    transform: translateY(-20px);
}

.houppa-title{
    height: fit-content;
    color: #A34444;
    font-family: "Luxurious Script", cursive;
    font-size: 40px;
    font-weight: 100;
    transform: translateY(-20px);
}


.parents{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px auto 10px auto;
}

.parents-fille, .parents-garcon{
    font-family: "Lora";
    font-size: small;
    color: #A34444;
}

.houppa-noms{
    width: 100%;
    color: #A34444;
    font-family: "Lora";
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    letter-spacing: 3px;
}


.houppa-text{
    width: 80%;
    font-family: "Lora";
    text-align: center;
    color: #A34444;
    margin: 30px auto auto auto;
}

.houppa-date{
    font-family: "Lora";
    text-align: center;
    color: #A34444;
    margin: 10px auto auto auto;
}

.houppa-endroit{
    font-family: "Lora";
    text-align: center;
    color: #A34444;
    margin-top: 30px;
}

.pensee{
    margin: 30px auto;
    font-family: "Imperial Script", cursive;
    text-align: center;
    color: #A34444;
    font-style: italic;
}

/* Chabat */

.chabat-title{
    height: fit-content;
    color: #A34444;
    font-family: "Luxurious Script", cursive;
    font-size: 40px;
    font-weight: 100;
    margin: 30px 0;
}


.chabat-noms{
    color: #A34444;
    font-family: 'Lora';
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 40px;
    gap: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}


.chabat-text,.chabat-date,
.chabat-endroit,.chabat-suite{
    width: 80%;
    height: fit-content;
    color: #A34444;
    font-family: "Lora";
    font-weight: 100;
    text-align: center;
    margin: 10px auto;
    line-height: 25px;
}

/* Response */

.response-title{
    height: fit-content;
    color: #A34444;
    font-family: "Luxurious Script", cursive;
    font-size: 40px;
    font-weight: 100;
    margin-top: 20px;
}

.reponse-souhaite{
    color: #A34444;
    font-family: "Luxurious Script", cursive;
    font-size: medium;
    text-align: center;
    margin-top: 10px;
}


/* Form */

form{
    height: 100%;
    width: 100%;
    font-family: "Lora";
    color: #A34444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 40px;
}

label{
    margin: 10px 0 10px 20px;
}

.nom, .prenom, .person-number{
    width: 85%;
    height: 20px;
    padding: 10px;
    border: #A34444 solid 1px;
    background-color: transparent;
    border-radius: 50% / 170px;
    margin-top: 5px;
}

.label-textarea{
    margin-left: 20px;
}

input[type = radio]{
    margin-right: 10px;
}

.square-checkbox {
    appearance: none; /* Supprime l'apparence par défaut */
    height: 15px;
    width: 15px;
    background-color: transparent; /* Couleur de fond */
    border: 1px solid #A34444; /* Bordure noire */
    border-radius: 50%; /* Pas de bordure arrondie pour un effet carré */
    cursor: pointer;
    position: relative; /* Nécessaire pour positionner la flèche */
    margin-left: 10px;
}

.square-checkbox:checked::after {
    content: ''; /* Pseudo-élément pour la flèche */
    position: absolute;
    top: 2px; /* Position verticale */
    left: 4px; /* Position horizontale */
    width: 3px; /* Largeur de la flèche */
    height: 5px; /* Hauteur de la flèche */
    border: solid #A34444; /* Couleur de la flèche */
    border-width: 0 2px 2px 0; /* Taille des lignes de la flèche */
    transform: rotate(45deg); /* Inclinaison pour créer une flèche */
}

textarea{
    width: 85%;
    height: 40px;
    padding: 10px;
    border: #A34444 solid 1px;
    background-color: transparent;
    border-radius: 50% / 170px;
    margin-left: 15px;
}

.submit-button{
    height: 40px;
    width: 170px;
    margin: 40px auto;
    border: #A34444 solid 1px;
    border-radius: 20px;
    background-color: transparent;
    color: #A34444;
    font-size: large;
    letter-spacing: 2px;
}

/* Presence */

.presence{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.present{
    display: flex;
    flex-direction: column;
}

.present input{
    margin-right: 10px; 
}

.present .square-checkbox{
    margin-left: 25px;
}

.number{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
